<!DOCTYPE html>

<html>
<head>
	<title>Rolling Stone's Top 100 Albums of All Time</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" media="screen">
	<%= @stylesheet if @stylesheet %>
</head>
<body>
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap.min.js"></script>
	<%= yield %>
</body>
</html>