<div class="page-header">
	<h1 class="text-center">Rolling Stone's Top 100 Albums of All Time <small>Sorted by <%= @order_by %></small></h1>
</div>
<div id="table-container">
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
		<% @albums.each do |album| %>
			<% if album.rank == @rank_to_highlight %>
				<tr class="success">
			<% else %>
				<tr>
			<% end %>
				<td><%= album.rank %></td>
				<td><%= album.title %></td>
				<td><%= album.year %></td>
			</tr>
		<% end %>
</tbody>
</table>
</div>