body {
	background-color: #aaaaaa;
	margin: 0;
	padding-left: 2em;
	padding-right: 2em;
}

.form-entry {
	margin-bottom: 1.3em;
}

.form-entry label {
	width: 225px;
	vertical-align: top;
}

.big-title {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	margin-top: 0.1em;
	margin-bottom: 0.6em;
}

.regular-title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	margin-top: 0.1em;
	margin-left: 0.3em;
}

.inline {
	display: inline-block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.halfwidth {
	width: 50%;
}

.clearboth {
	clear: both;
}

#content-box {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

#title-area {
	background-color: #cccccc;
	padding: 0.5em;
}

#page-title {
	margin: 0;
	margin-bottom: -5px;
	margin-top: -5px;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: -2px
}

#page-subtitle {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	color: #666666; 
}

#links-bar {
	background: black;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#links-bar a {
	text-decoration: none;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	padding: 0.7em;
}

#links-bar a:link {
	color: white;
	-webkit-transition: color .15s linear;
	transition: color .15s linear;
}

#links-bar a:visited {
	color: white;
}

#links-bar a:hover {
	color: gray;
	-webkit-transition: color .15s linear;
	transition: color .15s linear;
}

#form-area {
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#button-feel {
	margin-left: 225px;
	margin-bottom: 1.5em;
}

#form-result {
	background: #f0f0ff;
	margin-top: 0.5em;
}

#result-text {
	margin-top: 0.5em;
	margin-left: 0.3em;
}

#footer {
	background: #f0f0f0;
	text-align: center;
	padding: 0.5em;
}

#footer p {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 0.85em;
	letter-spacing: -1px;
}